<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<!-- 配置Servlet的名字 -->
	<servlet>
		<!-- 指定Servlet的名字，
			相当于指定@WebServlet的name属性 -->
		<servlet-name>firstServlet</servlet-name>
		<!-- 指定Servlet的实现类 -->
		<servlet-class>src.FirstServlet</servlet-class>
	</servlet>
	<!-- 配置Servlet的URL -->
	<servlet-mapping>
		<!-- 指定Servlet的名字 -->
		<servlet-name>firstServlet</servlet-name>
		<!-- 指定Servlet映射的URL地址，
			相当于指定@WebServlet的urlPatterns属性-->
		<url-pattern>/aa</url-pattern>
	</servlet-mapping>
	<!-- 配置Servlet的名字 -->
	<servlet>
		<!-- 指定Servlet的名字，
			相当于指定@WebServlet的name属性 -->
		<servlet-name>androidask</servlet-name>
		<!-- 指定Servlet的实现类 -->
		<servlet-class>src.androidask</servlet-class>
	</servlet>
	<!-- 配置Servlet的URL -->
	<servlet-mapping>
		<!-- 指定Servlet的名字 -->
		<servlet-name>androidask</servlet-name>
		<!-- 指定Servlet映射的URL地址，
			相当于指定@WebServlet的urlPatterns属性-->
		<url-pattern>/bb</url-pattern>
	</servlet-mapping>
	
</web-app>
